
<h2>{{ section.settings.title }}</h2><br>
{% for block in section.blocks %}
<div class="social-image-group">
  <div class="star-img"><img src="{{ block.settings.image2 | img_url: 'small' }}" /></div><br>

  <div class="social-img"><img src="{{ block.settings.image | img_url: 'large' }}" /></div>
      
  <div class="social-image-title"><h2>{{ block.settings.title }}</h2></div>
  <div class="social-name"><h2> {{ block.settings.name }} </h2></div>
</div>
{% endfor %}


{% schema %}
{
	"name": "Social Images",
	"class": "spaced-section spaced-section--full-width",
	"tag": "section",
	"settings": [{
			"type": "text",
			"id": "title",
			"default": "Heading",
			"label": "Heading"
		}

	],

	"blocks": [{
		"type": "column",
		"name": "column",
		"settings": [
		  {
              "type": "image_picker",
              "id": "image2",
              "label": "Add star"
          },
          {
              "type": "image_picker",
              "id": "image",
              "label": "Add Image"
          },
		  {
              "type": "richtext",
              "id": "title",
              "label": "Add Title"
          },
		  {
              "type": "text",
              "id": "name",
              "label": "Add Name"
          }
		]
	}],

	"presets": [{
		"name": "Social Images",
		"blocks": [{
				"type": "column"
			},
			{
				"type": "column"
			},
			{
				"type": "column"
			}
		]
	}]

}
{% endschema %}
